:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  background-color: transparent;
  margin: 85px auto 85px auto;
  display: grid;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scroll-behavior: smooth;
}

.gallery__item {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__link:hover {
  transform: scale(1.09);
}

.gallery__image {
  position: relative;
  border-radius: 13px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  opacity: 0;
  min-width: 98%;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 0 #2d2d2d;
  background-color: rgba(0, 0, 0, 0.27);
  border-radius: 13px;
  padding: 8px 2px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 4px;
  bottom: 0;
  transition: opacity var(--animation-duration) var(--timing-function),
    transform var(--animation-duration) var(--timing-function);
}

.info-item {
  display: flex;
}

.likes::before {
  content: url(./images/svg/heart-svgrepo-com.svg);
  margin-right: 5px;
}

.views::before {
  content: url(./images/svg/eye-svgrepo-com.svg);
  margin-right: 5px;
}

.comments::before {
  content: url(./images/svg/comment.svg);
  margin-right: 5px;
}

.downloads::before {
  content: url(./images/svg/download.svg);
  margin-right: 5px;
}

.gallery__link:hover .info {
  opacity: 1;
  transform: scale(1.03);
}

.gallery__link {
  position: relative;
  display: block;
  text-decoration: none;
  height: 100%;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link:hover {
  cursor: zoom-in;
}

#search-form {
  display: flex;
  gap: 30px;
  padding: 10px;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin-bottom: 10px;
  position: fixed;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 1em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  z-index: 50;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#search-form input {
  margin-right: 10px;
  font: inherit;
  font-size: medium;
  text-align: center;
  padding: 4px;
  border-radius: 20px;
  min-width: 300px;
  height: 28px;
  border: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  outline: none;
}

#search-form input:hover,
#search-form input:focus {
  outline: solid 2px #e0c3fc;
}

#search-form button {
  color: black;
  border-radius: 20px;
  border: none;
  background-color: #e0c3fc;
  width: 120px;
  height: 30px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transition: background-color var(--timing-function) var(--animation-duration),
    color var(--timing-function) var(--animation-duration),
    box-shadow var(--timing-function) var(--animation-duration);
}

.load-more {
  margin: auto;
  margin-bottom: 25px;
  display: block;
  font-size: 16px;
  padding: 16px 28px;
  background-color: #e0c3fc;
  color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background-color var(--timing-function) var(--animation-duration),
    color var(--timing-function) var(--animation-duration),
    box-shadow var(--timing-function) var(--animation-duration);
}

.load-more.is-hidden {
  display: none;
}

#search-form button:hover,
#search-form button:focus,
.load-more:hover,
.load-more:focus {
  background-color: grey;
  color: #fff6b7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
