body{
  text-align: center;
  background-image: url(/src/images/pexels-jot-singh-2179483.jpg);
   /* background-size: auto; */
}

header{
    background-color: palegreen;
    padding: 20px;
    border-radius: 1rem;
    background-image: url(/src/images/pexels-luci-6818037.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form {
  margin-top: '30px';
}
input{
    padding: 10px;
    border: 2px solid paleturquoise;
    background-color: skyblue;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button {
    margin-left: 10px;
    padding: 10px;
    border: 2px solid skyblue;
    border-radius: 1rem;
    background-color: paleturquoise;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}